<!DOCTYPE html>
<html lang="en">
<head>
</head>
<body class="container">
	<header>
		<% include ../partials/navigation %>
	</header>
	<main>
		<h1><%= shops.shop_name %> Top 5 Menu</h1>
		<ul>
			<li><%= shops.item_name1 %></li>
			<li><%= shops.item_name2 %></li>
			<li><%= shops.item_name3 %></li>
			<li><%= shops.item_name4 %></li>
			<li><%= shops.item_name5 %></li>
		</ul>
		
	</main>

	<footer>
		<% include ../partials/footer %>
	</footer>
	
</body>
</html>